/*-- CONTACT FORM --*/

#contact-form input, #contact-form textarea, #contact-form textarea.materialize-textarea{
    color: #fff;
    font-size: 1.2rem;
}

#contact-form input[type=text]:focus:not([readonly]),
#contact-form input[type=password]:focus:not([readonly]),
#contact-form input[type=email]:focus:not([readonly]),
#contact-form input[type=url]:focus:not([readonly]),
#contact-form input[type=time]:focus:not([readonly]),
#contact-form input[type=date]:focus:not([readonly]),
#contact-form input[type=datetime-local]:focus:not([readonly]),
#contact-form input[type=tel]:focus:not([readonly]),
#contact-form input[type=number]:focus:not([readonly]),
#contact-form input[type=search]:focus:not([readonly]),
#contact-form textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #66b3dc;
    box-shadow: 0 1px 0 0 #66b3dc;
}

#contact-form input[type=text]:focus:not([readonly])+label,
#contact-form input[type=password]:focus:not([readonly])+label,
#contact-form input[type=email]:focus:not([readonly])+label,
#contact-form input[type=url]:focus:not([readonly])+label,
#contact-form input[type=time]:focus:not([readonly])+label,
#contact-form input[type=date]:focus:not([readonly])+label,
#contact-form input[type=datetime-local]:focus:not([readonly])+label,
#contact-form input[type=tel]:focus:not([readonly])+label,
#contact-form input[type=number]:focus:not([readonly])+label,
#contact-form input[type=search]:focus:not([readonly])+label,
#contact-form textarea.materialize-textarea:focus:not([readonly])+label {
    color: #66b3dc;
}

#contact-form input:not([type]).valid,
#contact-form input:not([type]):focus.valid,
#contact-form input[type=text].valid,
#contact-form input[type=text]:focus.valid,
#contact-form input[type=password].valid,
#contact-form input[type=password]:focus.valid,
#contact-form input[type=email].valid,
#contact-form input[type=email]:focus.valid,
#contact-form input[type=url].valid,
#contact-form input[type=url]:focus.valid,
#contact-form input[type=time].valid,
#contact-form input[type=time]:focus.valid,
#contact-form input[type=date].valid,
#contact-form input[type=date]:focus.valid,
#contact-form input[type=datetime].valid,
#contact-form input[type=datetime]:focus.valid,
#contact-form input[type=datetime-local].valid,
#contact-form input[type=datetime-local]:focus.valid,
#contact-form input[type=tel].valid,
#contact-form input[type=tel]:focus.valid,
#contact-form input[type=number].valid,
#contact-form input[type=number]:focus.valid,
#contact-form input[type=search].valid,
#contact-form input[type=search]:focus.valid,
#contact-form textarea.materialize-textarea.valid,
#contact-form textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #66b3dc;
    box-shadow: 0 1px 0 0 #66b3dc;
}

#contact-form input,
#contact-form textarea,
#contact-form textarea.materialize-textarea{
    color: #fff;
}

#contact-form .contactSubmit{
    width: 100%;
    background: #66b3dc;
    font-size: 1.2rem;
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition:  all .3s ease;
}

#contact-form .contactSubmit:hover{
    width: 100%;
    background: #fff;
    font-size: 1.2rem;
    height: 4rem;
    line-height: 4rem;
    color: #001524;
}

#contact-form textarea.materialize-textarea{
    height: 7.5rem;
}

#contact-form .col{
    margin: 0.5rem 0;
}
